body
{
    margin: 0em;
    padding:0;
    background-color: #f9f6ef;
}

header
{
    background-color: #f7e5c2 ;
    padding: 1em;
    border-bottom: 1px black solid;
    box-shadow: 1px 2px 6px grey ;
    clear: both;
    overflow: auto;
}

#logo
{
    display: inline-block;
    width: 15em;
    margin: 0px;
    padding: 0px;    
}

nav
 {
    display: inline;
    text-align: center;
    float: right;
    margin-top: 50px;
 }

.ulnav
{
    display: inline;
}

.ulnav li
{
  list-style: none;  
  display: inline;
  margin: 3em 3em 3em 3em;
  padding-left: 3.5em;
  font-weight: bold;
  font-size: 1.7em;
  }

.container
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 25px;
}

.bloc1 img
{
   margin: 10px;
   border: solid grey 1px;
   width: 189px;
   box-shadow: 1px 2px 6px grey;
}

.derniers
{
    display: flex;
    list-style: none;
}

p
{
    text-align: center;
    font-size: 1.1em;
}

.type
{
    display: flex;
    list-style: none;
}

.bloc2
{
    width: 300px;
    text-align: center;
}

footer
{
    padding-top:50px;
    height:50px;
    text-align: center;
}