body
{
    margin: 0em;
    padding:0;
}

#logo
{

}

nav
{
    background-color: #f7e5c2 ;
    padding: 2em;
}

.ulnav
{
    display: inline;
    width: 500px;
    margin-left: 40em;
}

.ulnav li
{
  list-style: none;  
  display: inline;
  margin: 6em;
  justify-content: right;
  font-weight: bold;
}

hr
{
    margin: 0em;
}